   .site-nav__main {
	/* display: flex; */
	/* flex-direction: row; */
	align-items: center;
	height: 200px;
    padding-left: 32%;
    padding-top: 4%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: brown;
    color: white;
   } 

   #choo {
       padding-left: 12%;
   }

   .divider {
    height: 20px;
    background-color: white;
   }

   .current_train_schedule__container {
	background: white;
	height: 250px;
	margin-left:14%;
	margin-right:14%;
	border: 1px #cccccc solid;
	}